.recent_project {
    padding: 0 0 70px;
    background: #fff;
}
.section-title {
    color: #666262;
    font-weight: 400;
    text-align: center;
    margin: 0 0 15px;
    font-size: 22px;
}
.section-title {
    color: #666262;
    font-weight: 400;
    text-align: center;
    margin: 0 0 15px;
    font-size: 22px;
}
.section-divider {
    margin-bottom: 30px;
    padding: 15px 0 0;
    position: relative;
    width: 40%;
    margin: 0 auto;
}
.divider-inside-top {
    position: relative;
    overflow: hidden;
    border-top: 1px dashed rgba(221, 221, 221, 0.8);
}
.divider-inside-top:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 96%;
    top: -15px;
    height: 10px;
    left: 2%;
    border-radius: 100px / 5px;
}
.section-sub-text {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #9b9999;
    line-height: 24px;
    margin: 0 0 40px;
}
.project-list {
    margin:50px 0;
}
.project-container {
    text-align: center;
}
.project-container h4 {
    text-transform: inherit;
    font-weight: 600;
	margin-bottom: 20px;
}
.project-container h4 a {
    color: #666262;
    text-decoration: none;
    font-weight: 500;
}
.project-container h4 a:hover {
    color: #d9534f;
}
.project-container span {
    font-size: 14px;
    font-style: italic;
}
.project-container span a {
    color: #9a9494;
}
.project-container span a:hover {
    color: #666;
}
.pro-img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 3px #999999;
    -moz-box-shadow: 0 0 3px #999999;
    -webkit-box-shadow: 0 0 3px #999999;
    -ms-box-shadow: 0 0 3px #999999;
    margin: 0 0 15px;
    display: block;
    line-height: 0.5;
    overflow: hidden;
    position: relative;
}
.pro-img img {
    width: 100%;
    transition: transform 0.3s ease-in-out 0s;
    -moz-transition: -moz-transform 0.3s ease-in-out 0s;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
    -o-transition: -o-transform 0.3s ease-in-out 0s;
    -ms-transition: -ms-transform 0.3s ease-in-out 0s;
}
.portfolio-entry-hover {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out 0s;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    -o-transition: opacity 0.2s ease-in-out 0s;
    -ms-transition: opacity 0.2s ease-in-out 0s;
}
.portfolio-entry-hover a {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    top: 50%;
    margin: -15px -40px 0 0;
    border-radius: 50%;
    right: 49%;
}
.portfolio-entry-hover a:first-child {
    right: auto;
    left: 49%;
    margin-right: 0;
    margin-left: -14px;
}
.portfolio-entry-hover a:hover {
    background-color: #d9534f;
    color: #fff;
}
.pro-img:hover img {
    transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
}
.pro-img:hover .portfolio-entry-hover {
    opacity: 1;
}

.project-section {
    margin-bottom: 70px;
	overflow:hidden;
}
.portfolioFilter {
    text-align: center;
    margin: 10px 0;
}
.portfolioFilter a {
    margin-right: 10px;
    color: #d9534f;
    text-decoration: none;
    border-bottom: 2px solid #d9534f;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    padding: 6px 12px;
    transition: all ease-in-out 0.3s;
    text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}
.portfolioFilter a:hover {
    background-color: #d9534f;
    color: #fff;
}
.portfolioFilter a.current {
    background-color: #d9534f;
    color: #fff;
}
.grid {
    float: left;
    margin: 30px 0 50px;
    width: 100%;
}
.grid figure {
    overflow: hidden;
    margin: 10px 0 20px;
}

/*.grid figure.four-col {
    min-height: 198px;
}

.grid figure.two-col {
    min-height: 420px;
}*/

.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}
figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-apollo:hover img {
    opacity: 0.2;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
    color: #333;
    opacity: 0;
}
.grid figure h3,
.grid figure p {
    margin: 0;
}
figure.effect-apollo h3 {
    text-align: left;
}

figure.effect-apollo:hover h3 {
    opacity: 1;
}

.grid figure h3 span {
    font-weight: 800;
}
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    background-color:rgba(0,0,0,0);
}
.pagination {
    margin: 0 0 40px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #d9534f;
    border-color: #d9534f;
}
.pagination > li > a,
.pagination > li > span {
    padding: 8px 15px;
    border: none;
    color: #666262;
    font-weight: 600;
    outline: none;
    margin: 0 2px;
    border-radius: 50% !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-radius: 0px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #666262;
}

@media (min-width: 768px) and (max-width: 991px) {
	.grid figure figcaption {
		padding: 1.2em;
	}
	.grid figure h3 span {
		display: block;
	}
}

@media(max-width:767px) {
	.portfolioFilter a {
        margin-right: 0;
        margin-left: 10px;
    }
	.grid figure figcaption {
		padding: 1.2em;
	}
	figure.effect-apollo h3 {
		font-size: 16px;
	}
	.grid figure h3 span {
		display: block;
	}
}